.commerce-about {
  background: #000;
  &-title {
    font-size: 4.25rem;
    color: #fff;
  }
  &-description {
    color: #fff;
    font-size: 1.25rem;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    & > * {
      flex-basis: 45%;
    }
  }

  &-icon {
    background: url(../../design/background/dota.png) no-repeat center bottom;
    background-size: contain;
  }
}
